<div class="ion-page">
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>{{this.playlistTitle}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="this.dismiss()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngIf="this.userPlaylistSongs">
      <ion-item-sliding *ngFor="let song of this.userPlaylistSongs">
        <ion-item (click)="startPlaying(song)">
          <ion-label>{{song._title}}</ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="danger" (click)="deleteSong(song._id, song._title)">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>
</div>
