<div class="ion-page">
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>{{this.playlistTitle}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="this.dismiss()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-row class="ion-justify-content-center" *ngIf="isListening">
    <ion-button (click)="this.isListening=false" color="danger"> Stop</ion-button>
    <audio controls autoplay>
      <source src="{{songUrl}}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </ion-row>

  <ion-content>
    <ion-list *ngIf="this.userPlaylistSongs">
      <ion-item-sliding *ngFor="let song of this.userPlaylistSongs">
        <ion-item (click)="startPlaying(song._src, song._title, song._artist)">
          <ion-label>{{song._title}}</ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="danger" (click)="deleteSong(song._id, song._title)">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>
</div>
