<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="group">
    <ion-item lines="full">
      <ion-label position="floating">
        <h1>Name</h1>
        <ion-label color="danger" *ngIf="group.controls.user_name.invalid && submitRegistration">{{getUserNameErrorMessage()}}</ion-label>
        <ion-input type="text" formControlName="user_name" required></ion-input>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">
        <h1>Email</h1>
        <ion-label color="danger" *ngIf="group.controls.mail.invalid && submitRegistration">{{getMailErrorMessage()}}</ion-label>
        <ion-input type="email" formControlName="mail" required></ion-input>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">
        <h1>Password</h1>
        <ion-label color="danger" *ngIf="group.controls.password.invalid && submitRegistration">{{getPasswordErrorMessage()}}</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-label>
    </ion-item>

    <ion-radio-group formControlName="sex">
      <ion-list-header>
        <ion-label>Gender</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio slot="start" color="primary" value="M"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio slot="start" color="danger" value="F"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-row>
      <ion-col>
        <ion-button (click)="regUser(); submitRegistration=true" type="submit" color="danger" expand="block">Sign Up
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
