<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="group">
    <ion-item lines="full">
        <ion-label position="floating"><h1>Email</h1></ion-label>
        <ion-label color="danger"
                   *ngIf="group.controls.mail.invalid && submitLogin">{{getMailErrorMessage()}}</ion-label>
        <ion-input type="email" formControlName="mail" required></ion-input>
 
    </ion-item>

    <ion-item lines="full">
        <ion-label position="floating"><h1>Password</h1></ion-label>
        <ion-label color="danger"
                   *ngIf="group.controls.password.invalid && submitLogin">{{getPasswordErrorMessage()}}</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="loginUser(); this.submitLogin=true" type="submit" color="danger" expand="block">Sign In
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
