<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="group">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="mail" required></ion-input>
      <ion-label position="floating" *ngIf="group.controls['mail'].invalid">{{getMailErrorMessage()}}</ion-label>
    </ion-item>
    
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
      <ion-label *ngIf="group.controls['password'].invalid" position="floating">{{getPasswordErrorMessage()}}</ion-label>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="loginUser()"  type="submit" color="danger" expand="block">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>