<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ben tornato!</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Custom Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu> -->

  

  <ion-content padding scroll-y="false">
    <br>
    <br>
    <ion-card-title>
      I più ascoltati
    </ion-card-title>
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
        <ion-col>
          <ion-label>Card #1</ion-label>
          <ion-img style="pointer-events:none" src="https://via.placeholder.com/150"></ion-img>
        </ion-col>
      </ion-slide>

      <ion-slide style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
        <ion-col>
          <ion-label>Card #2</ion-label>
          <ion-img style="pointer-events:none" src="https://via.placeholder.com/150"></ion-img>
        </ion-col>
      </ion-slide>

      <ion-slide style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
        <ion-col>
          <ion-label>Card #3</ion-label>
          <ion-img style="pointer-events:none" src="https://via.placeholder.com/150"></ion-img>
        </ion-col>
      </ion-slide>

      <ion-slide style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
        <ion-col>
          <ion-label>Card #4</ion-label>
          <ion-img style="pointer-events:none" src="https://via.placeholder.com/150"></ion-img>
        </ion-col>
      </ion-slide>

      <ion-slide style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
        <ion-col>
          <ion-label>Card #5</ion-label>
          <ion-img style="pointer-events:none" src="https://via.placeholder.com/150"></ion-img>
        </ion-col>
      </ion-slide>

      <ion-slide style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
        <ion-col>
          <ion-label>Card #6</ion-label>
          <ion-img style="pointer-events:none" src="https://via.placeholder.com/150"></ion-img>
        </ion-col>
      </ion-slide>

      <ion-slide style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
        <ion-col>
          <ion-label>Card #7</ion-label>
          <ion-img style="pointer-events:none" src="https://via.placeholder.com/150"></ion-img>
        </ion-col>
      </ion-slide>

    </ion-slides>
  </ion-content>
  <!-- 
  <ion-router-outlet id="main"></ion-router-outlet> -->
</ion-content>