<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-home title="Most listened" componentRole="top" [list]="this.topSongs"></app-home>

  <app-home *ngIf="this.userSuggestedSongs" title="Suggested for you" componentRole="suggested"
            [list]="this.userSuggestedSongs"></app-home>

  <app-home title="Last added" componentRole="last" [list]="lastInsertedSongs"></app-home>

</ion-content>
