<ion-searchbar [(ngModel)]="this.search" name="search" debounce="500" showCancelButton="focus"
               (ionChange)="this.isSearching=true; getSearch(); stopSearchingIfEmptyField()"
               placeholder="Search" animated>
</ion-searchbar>

<ion-row class="ion-justify-content-center" *ngIf="isListening">
  <ion-button (click)="this.isListening=false" color="danger"> Stop </ion-button>
  <audio controls autoplay >
    <source src="{{songUrl}}" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</ion-row>

<div *ngIf="songs">
  <ion-list>
    <ion-item *ngFor="let song of songs">
      <ion-label>
        <h2>{{song._title}} </h2>
        <h5>{{song._genre}}</h5>
        <h3>{{song._artist}}</h3>
      </ion-label>
      <ion-label>
        <ion-button (click)="startPlaying(song._src, song._title, song._artist)" color="primary"> Play </ion-button>
        <ion-button (click)="this.addToPlaylists(song)" color="tertiary">Add</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadDataForInfiniteScroll($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</div>
