<ion-content [fullscreen]="true">
  <ion-grid fixed="true" >

    <ion-content>
      <video autoplay muted loop src="../../assets/guitarnoaudio.mp4"></video>
    </ion-content>

    <ion-row class="title-position">
      <ion-col>
        <ion-title size="large">Olorefy</ion-title>
      </ion-col>
    </ion-row>

    <ion-row class="buttons-position">
      <ion-col class="ion-align-self-center">
        <ion-button routerLink="/registration" expand="block" color="primary" class="transparentbutton">Register</ion-button>

        <ion-label class="divider line one-line">or</ion-label>

        <ion-label class="already">Already a user?</ion-label>

        <ion-button routerLink="/login" expand="block" color="danger" class="transparentbutton">Sign In</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <router-outlet></router-outlet>
</ion-content>
