.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

.line {
  align-items: center;
  margin: 1em -1em;
  color: #cccccc;

  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}

.one-line {
  &:before,
  &:after {
    background: #cccccc;
  }
}

.auth-form ion-grid,
.auth-form ion-row {
  height: 100%;
  justify-content: center;
  display: inline;
}

.already {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

.bg-spotify {
  background: linear-gradient(120deg, #1db954, #191414);
}

.buttons-position {
  margin-top: 450px;
}

.title-position {
  margin-top: 15%;
}

ion-title {
  text-align: center;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}


.transparentbutton {
  --ion-color-base: unset !important;
  border: solid 2px;
  border-radius: 5%;
}