<ion-content fullscreen *ngIf="this.user">
  <ion-card class="profile-card-height">
    <img *ngIf="user._sex === 'F'" src="../../../../assets/beautiful.jpg"/>
    <img *ngIf="user._sex === 'M'" src="../../../../assets/stark.jpg"/>
    <ion-card-header>
      <ion-card-title>{{ user._user_name }}</ion-card-title>
      <ion-card-subtitle>{{ user._mail }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-grid>
    <ion-row class="ion-justify-content-evenly">

      <ion-col size="8">
        <ion-fab>
          <ion-fab-button>
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="end">
            <ion-fab-button (click)="//openListOfUsers()">
              <ion-icon name="people-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="//openListOfFollowed()">
              <ion-icon name="arrow-redo-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="//openListOfFollowers()">
              <ion-icon name="arrow-undo-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-col>

      <ion-col size="4">
        <ion-button (click)="logout()">Logout</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
