<div class="ion-page">
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Your friends list</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="this.dismiss()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf='this.allFollowed'>
    <ion-list>
      <ion-item-sliding *ngFor='let followed of this.allFollowed'>
        <ion-item>
          <ion-avatar slot="start">
            <img *ngIf="followed._sex === 'F'; else elseMale" src="../../../../assets/beautiful.jpg" alt="user-icon">
            <ng-template #elseMale>
              <img src="../../../../assets/stark.jpg" alt="user-icon">
            </ng-template>
          </ion-avatar>
          <ion-label>{{followed._user_name}}</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="this.confirmRemoveFollowed(followed._id,followed._user_name)" color="danger">Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>
</div>
