.sliding-item{
  width: 200px;
  height: 200px;
  border: 2px
}
.card-into-sliding{
  height: 90%;
  width: 100%;
}
.margin-between-component {
  margin-top: 1rem;
}

.mostListened{
  background-color: purple;
  color: white;
  
}

.lastAdded{
  background-color: #303F9F;
  color: white;
}

.suggested{
  background-color: #008000;
  color: white;
}
