.sliding-item {
  width: 225px;
  height: 225px;
  border: 1px;
}

.card-into-sliding {
  height: 90%;
  width: 100%;
}

.margin-between-component {
  margin-top: 1rem;
}

.mostListened {
  background-color: purple;
  color: white;

}

.lastAdded {
  background-color: #303F9F;
  color: white;
}

.suggested {
  background-color: #008000;
  color: white;
}
