<ion-toolbar class="margin-between-component">
  <ion-title>
    {{title}}
  </ion-title>
</ion-toolbar>

<ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
  <ion-slide class="sliding-item" *ngFor="let song of this.list; index as i">
    <ion-card class="card-into-sliding" (click)="startPlaying(song)">
      <ion-card-header class="mostListened" *ngIf="componentRole==='top'">
        {{i + 1}}°
      </ion-card-header>
      <ion-card-header class="lastAdded" *ngIf="componentRole==='last'">
        {{song._date | date}}
      </ion-card-header>
      <ion-card-header class="suggested" *ngIf="componentRole==='suggested'">
        {{song._genre}}
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle class="artist">{{song._artist}}</ion-card-subtitle>
        <ion-card-title>{{song._title}}</ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>
