<ion-content padding scroll-y="false">
  <br>
  <br>
  <ion-toolbar>
    <ion-title>
      I più ascoltati
    </ion-title>
  </ion-toolbar>
  
  <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
    <ion-slide style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
      <ion-col>
        <ion-label>Card #1</ion-label>
        <ion-img style="pointer-events:none" src="https://via.placeholder.com/150"></ion-img>
      </ion-col>
    </ion-slide>

    <ion-slide style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
      <ion-col>
        <ion-label>Card #2</ion-label>
        <ion-img style="pointer-events:none" src="https://via.placeholder.com/150"></ion-img>
      </ion-col>
    </ion-slide>

    <ion-slide style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
      <ion-col>
        <ion-label>Card #3</ion-label>
        <ion-img style="pointer-events:none" src="https://via.placeholder.com/150"></ion-img>
      </ion-col>
    </ion-slide>

    <ion-slide style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
      <ion-col>
        <ion-label>Card #4</ion-label>
        <ion-img style="pointer-events:none" src="https://via.placeholder.com/150"></ion-img>
      </ion-col>
    </ion-slide>

    <ion-slide style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
      <ion-col>
        <ion-label>Card #5</ion-label>
        <ion-img style="pointer-events:none" src="https://via.placeholder.com/150"></ion-img>
      </ion-col>
    </ion-slide>

    <ion-slide style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
      <ion-col>
        <ion-label>Card #6</ion-label>
        <ion-img style="pointer-events:none" src="https://via.placeholder.com/150"></ion-img>
      </ion-col>
    </ion-slide>

    <ion-slide style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
      <ion-col>
        <ion-label>Card #7</ion-label>
        <ion-img style="pointer-events:none" src="https://via.placeholder.com/150"></ion-img>
      </ion-col>
    </ion-slide>
  </ion-slides>

  <!-- TODO: new components for home-page -->

</ion-content>